ol,
ul {
  list-style-type: none;
}

.navbar-area {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-login-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}

.logo-area {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-area img {
  margin-left: 20px;
}

.login-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 200px;
  cursor: pointer;
}

.login-area button {
  border: none;
  background: transparent;
}

.menu-serch-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

.menu-serch-area ul {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center; /* ul 태그 가운데 정렬 */
  flex-grow: 1; /* ul 태그가 가로로 확장되도록 설정 */
}

.menu-serch-area li {
  margin-right: 20px; /* 메뉴 아이템 간 간격 조정 */
}

.serch-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 200px; /* 필요에 따라 조정하세요 */
  border-bottom: 1px solid #ccc; /* 하단 테두리 설정 */
}

.serch-group input {
  border: none;
}

.card-section img:hover {
  transform: scale(1.2);
}

.loginpage-input {
  width: 300px;
}

.product-detail-img {
  display: flex;
  justify-content: flex-end;
}

.product-detail-btn{
  width: 300px;
  margin-top: 5px;
}

.product-detail-info{
  display: flex;
  flex-direction: column;
}